html {
  box-sizing: border-box; }

#container {
  margin: 30px auto;
  width: 500px;
  height: 375px;
  position: relative; }
  #container #gestureMark {
    border: 1px solid red;
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px; }

#videoElement {
  width: 100%;
  height: 100%;
  background-color: #666; }

canvas {
  border: 1px solid red; }
